<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Current Password</mat-label>
    <input matInput type="password" [(ngModel)]="currentPassword" />
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>New Password</mat-label>
    <input matInput type="password" [(ngModel)]="newPassword" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onOkClick()" cdkFocusInitial>Change Password</button>
</mat-dialog-actions>