<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="dialog-content">
  <div class="password-field-group">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Current Password</mat-label>
      <input matInput type="password" [(ngModel)]="currentPassword" />
    </mat-form-field>
    <div class="error" *ngIf="currentPassword && currentPassword.length === 0">
      Current password is required.
    </div>
  </div>
  <div class="password-field-group">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput type="password" [(ngModel)]="newPassword" />
    </mat-form-field>
    <div class="error" *ngIf="newPassword && newPassword.length < 8">
      Password must be at least 8 characters long.
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onOkClick()" [disabled]="!isFormValid" cdkFocusInitial>Change Password</button>
</mat-dialog-actions>