mat-toolbar {
    background: var(--primary-color);
    color: white;
  }
  
  mat-sidenav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    border-right: none;
    background: var(--primary-color);
    color: white;
    border-radius: 0;
    text-align: center;
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }

  .app-title-container {
    display: flex;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .display-left{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .app-title {
    font-weight: bold;
    font-size: 20px;
  }
  .app-subtitle {
    font-weight: normal;
    font-size: 14px;
    margin-top: -5px;
    color: rgb(197, 197, 197);
  }

  .app-title-container mat-icon { 
    margin-right: 10px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    border-radius: 10px;
    background: #ffffff33;
  }


  .nav-button{
    color: white;
    cursor: pointer;
  }
  
  .content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 16px;
    overflow: auto;
    box-sizing: border-box;
  }
  

  .menu-icons {
    display: flex;
    align-items: center;
    padding: 10px;
    margin:10px;
    color: inherit;
    text-decoration: none;
    mat-icon {
      margin-right: 8px;
      margin-left: 8px;
    }
    border-radius: 10px;
  }

  .menu-icons.active {
    background-color: #e7898986;
  }

  .bottom-nav{
    position: absolute;
    bottom: 20px;
    width: 170px;
  }
  
  .name {
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
  }

  .display-right{
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 38px;
    cursor: pointer;
  }

  .display-right mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
    background: var(--primary-color);
    border-radius: 50%;
    color:black
  }

  .username-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .username {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    height: fit-content;
  }

  .user-role {
    color: rgb(197, 197, 197);
    font-size: 14px;
    font-weight: 500;
    height: fit-content;
    text-align: center;
    margin-top: -10px;
  }


  @media screen and (max-width: 600px) {
    div.display-right {
      display: none;
    }
  }
  button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }