/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #aa1414;
  --secondary-color: #ee0000;
  --contrast-color: rgb(0, 141, 177);
  --text-color: black;
  --light-text-color: white;
}
